{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('jquery.min.js') }}"></script>#}
    <script src="{{ asset('build/asset/prototype.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Hello{% endblock %}

{% block body %}
<p>Ajouter une question!</p>


    {{ form_start(form, {'attr': {'class': 'form_main', 'autocomplete': 'off' }}) }}

    {{ form_row(form.entitled, {'label': 'Intitulé'}) }}

    {{ form_row(form.image.file, {'label': 'Image'}) }}

    <ul id="answer-fields-list"
        data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
        {% for answerField in form.answers %}
            <li>
                {{ form_errors(answerField) }}
                {{ form_widget(answerField) }}
            </li>
        {% endfor %}
    </ul>

    <a href="#"
       class="add-another-collection-widget"
       data-list="#answer-fields-list">Ajouter une réponse</a>

    <button type="submit">Créer!</button>
    {{ form_end(form) }}

{% endblock %}
