{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<p>Ajouter une question!</P>


    <div class="form_wrap">

        {{ form_start(form, {'attr': {'class': 'form_main', 'autocomplete': 'off' }}) }}

        {{ form_row(form.entitled, {'label': 'Intitulé'}) }}

        {{ form_row(form.image.file, {'label': 'Image'}) }}

        
        <ul class="answers">
            {% for answer in form.answers %}
                <li>{{ form_row(answer.entitled) }}
                	{{ form_row(answer.correct) }}
                	{{ form_row(answer.explanation) }}
                	{{ form_row(answer.image.file) }}
                </li>
            {% endfor %}
    	</ul>
        
        

        <button type="submit">Créer!</button>

        {{ form_end(form) }}

    </div>

{% endblock %}
