{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('build/asset/question/addQuestion.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery.min.js') }}"></script>
    <script src="{{ asset('build/asset/question/addQuestion.js') }}"></script>
{% endblock %}

{% block title %}Hello{% endblock %}

{% block body %}
<p>Ajouter une question!</p>


    {{ form_start(form, {'attr': {'class': 'form_main', 'autocomplete': 'off' }}) }}

    {{ form_row(form.entitled, {'label': 'Intitulé'}) }}

    {% if form.vars.data.image.url is not null %}

        <div class="img-wrap">

            {#<i class="far fa-times-circle"></i>#}
            <div class="img-header"><button id="{{ form.vars.data.quizz.id }}_question_{{ form.vars.data.id }}" class="img-delete-button">X</button></div>
            <img class="question-img edit" src="{{ asset(constant('PATH_IMAGE_QUESTION', constant) ~ form.vars.data.image.url) }}">
        </div>
    {% endif %}

    {{ form_row(form.image.file, {'label': 'Image'}) }}

    <ul id="answer-fields-list"
        data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
        {% for answerField in form.answers %}
            <li>
                {% if answerField.vars.data.image.url is not null %}
                    <div class="img-wrap">
                    	<div class="img-header"><button class="img-delete-button" id="{{ form.vars.data.quizz.id }}_answer_{{ answerField.vars.data.id }}_{{ answerField.vars.data.question.id }}">X</button></div>
                        <img class="question-img edit" src="{{ asset(constant('PATH_IMAGE_ANSWER', constant) ~ answerField.vars.data.image.url ) }}">
                    </div>
                {% endif %}

                {{ form_errors(answerField) }}
                {{ form_widget(answerField) }}

               {#{{ form_errors(answerField.entitled) }}#}
               {#{{ form_widget(answerField.entitled) }}#}

               {#{{ form_errors(answerField.correct) }}#}
               {#{{ form_widget(answerField.correct) }}#}

               {#{{ form_errors(answerField.explanation) }}#}
               {#{{ form_widget(answerField.explanation) }}#}

               {#{{ form_errors(answerField.image.file) }}#}
               {#{{ form_widget(answerField.image.file) }}#}

            </li>
        {% endfor %}
    </ul>

    <a href="#"
       class="btn btn-success add-another-collection-widget"
       data-list="#answer-fields-list">Ajouter une réponse</a>

    <button class="btn btn-primary" type="submit">Mettre à jour!</button>
    {{ form_end(form) }}

{% endblock %}
