<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.ico') }}" />
		<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
		<!--[if IE]><link rel="shortcut icon" type="{{ asset('img/favicon.ico') }}" /><![endif]-->
        <link href="{{ asset('build/asset/template/base.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        
        <script src="{{ asset('build/asset/template/base.js') }}"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="background-theme-1">
    	<div id="page-container">
    	
    		<div id="header-container">
    		    {% block header %}
                    {% include 'header.html.twig' %}
                {% endblock %}
            </div>
            <div id="nav-container">
            	{% block nav %}
                    {% include 'nav.html.twig' %}
                {% endblock %}
            </div>
            
            <div id="content-container" class="background-theme-2">
                {% block body %}{% endblock %}
            </div>
            
            <div id="footer-container">
            	{% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
