<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.ico') }}" />
		<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
		<!--[if IE]><link rel="shortcut icon" type="{{ asset('img/favicon.ico') }}" /><![endif]-->
        <link href="{{ asset('build/asset/template/base.css') }}" rel="stylesheet" />
        <script src="{{ asset('build/asset/template/base.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    	<div id="page-container">
    	
    		<div id="header-container">
    		    {% block header %}
                    {% include 'header.html.twig' %}
                {% endblock %}
            </div>
            <div id="nav-container">
            	{% block nav %}
                    {% include 'nav.html.twig' %}
                {% endblock %}
            </div>
            
            <div id="content-container">
                {% block body %}{% endblock %}
            </div>
            
            <div id="footer-container">
            	{% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
