{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('build/asset/quizz/userList.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	
	<h1>Mes Quizz</h1>
    {% for quizz in user.quizz %}
    	<div class="resume-quizz-wrap background-theme-1">
            <h2><a class="titre-quizz" href="{{ path('editQuizz', { 'id' : quizz.id })}}">{{ quizz.title }}</a></h2>
            
            	{% if quizz.published %} 
            		<span>(publié)</span>
            	{% else %}
            		<span>(non publié)</span>
            	{% endif %}
    
                {% if quizz.description is not null %}
                    <p class="description-quizz">{{ quizz.description }}</p>
                {% else %}
            		<p class="description-quizz">Aucune description</p>
                {% endif %}
            </li>
            
            <a class="btn btn-danger" href="{{ path('removeQuizz', { 'id' : quizz.id })}}">Supprimer</a>
        </div>

    {% endfor %}
    
    {% if user.quizz is empty %}
    	<p>Vous n'avez pas de quizz</p>
    {% endif %}

{% endblock %}