{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ quizz.title }}</h2>
    <p>Status:
        {% if quizz.published %}
            publié
        {% else %}
            Non publié
        {% endif %}
        <a href="{{ path('removeQuizz', { 'id' : quizz.id })}}">Supprimer</a>
        <a href="{{ path('addQuestion', { 'id' : quizz.id })}}">Ajouter une question</a>
    </p>
    <p>Description:
        {% if quizz.description is not null %}
            {{ quizz.description }}
        {% else %}
            Aucune description
        {% endif %}
    </p>
    <p>Image:
        {% if quizz.image is not null %}
            <img class="quizz_img" src="{{ asset(constant('PATH_IMAGE_QUIZZ', constant) ~ quizz.image.url) }}" alt="{% if quizz.image.alt is not null %} {{ quizz.image.alt }}{% else %} Aucune description d'image{% endif %}" />
        {% else %}
            Aucune image
        {% endif %}
    </p>
    
    <ul>
    
    {% for question in quizz.questions %}
		<li>
        <p>{{ question.entitled }}

            {% if question.published %}
                <span>(publié)</span>
            {% else %}
                <span>(non publié)</span>
            {% endif %}
    
            <a href="{{ path('removeQuestion', { 'id' : quizz.id, 'questionId' : question.id }) }}">Supprimer</a>
        </p>
        {% if question.image is not null %}
            <img class="quizz_img" src="{{ asset(constant('PATH_IMAGE_QUESTION', constant) ~ question.image.url) }}" alt="{% if question.image.alt is not null %} {{ question.image.alt }}{% else %} Aucune description d'image{% endif %}" />
        {% endif %}
        <ul>
        {% for answer in question.answers %}
			<li>
            <p>{{ answer.entitled }}
    
                {% if answer.published %}
                    <span>(publié)</span>
                {% else %}
                    <span>(non publié)</span>
                {% endif %}
            </p>
            
            {% if answer.correct %}
                    <p>Cette réponse est VRAI</p>
            {% else %}
                    <p>Cette réponse est FAUSSE</p>
            {% endif %}
            
            <p>Explication:
                {% if answer.explanation is not null %}
                    {{ answer.explanation }}
                {% else %}
                    Aucune explication
                {% endif %}
            </p>
            
            {% if answer.image is not null %}
            <img  src="{{ asset(constant('PATH_IMAGE_ANSWER', constant) ~ answer.image.url) }}" alt="{% if question.image.alt is not null %} {{ question.image.alt }}{% else %} Aucune description d'image{% endif %}" />
        {% endif %}
            
    	</li>	
        {% endfor %}
        </ul>
		</li>
    {% endfor %}
    </ul>

{% endblock %}
