{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('build/asset/quizz/detailQuizz.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <h1 class="titre-quizz">{{ quizz.title }}</h1>
    
	<div class="container-description">
    	<div>
            <p>Status:
                {% if quizz.published %}
                    publié
                {% else %}
                    Non publié
                {% endif %}
                <p><a class="delete" href="{{ path('removeQuizz', { 'id' : quizz.id })}}">Supprimer</a></p>
                <p><a class="add" href="{{ path('addQuestion', { 'id' : quizz.id })}}">Ajouter une question</a></p>
            </p>
            <p>Description:</p>
                {% if quizz.description is not null %}
                    <p class="description-quizz">{{ quizz.description }}</p>
                {% else %}
                    <p class="description-quizz">Aucune description</p>
                {% endif %}
            </div>
            <div>
                {% if quizz.image is not null %}
                    <img class="quizz-img" src="{{ asset(constant('PATH_IMAGE_QUIZZ', constant) ~ quizz.image.url) }}" alt="{% if quizz.image.alt is not null %} {{ quizz.image.alt }}{% else %} Aucune description d'image{% endif %}" />
                {% endif %}
            </div>
        </div>
    
    {% for question in quizz.questions %}
		<div class="question-wrap">
			<div class="container-description">
				<div>
                    <p>Question n°{{loop.index}} : {{ question.entitled }}
            
                        {% if question.published %}
                            <span>(publié)</span>
                        {% else %}
                            <span>(non publié)</span>
                        {% endif %}
                
                        <p><a class="delete" href="{{ path('removeQuestion', { 'id' : quizz.id, 'questionId' : question.id }) }}">Supprimer</a></p>
                    </p>
                </div>
                <div>
                {% if question.image is not null %}
                    <img class="question-img" src="{{ asset(constant('PATH_IMAGE_QUESTION', constant) ~ question.image.url) }}" alt="{% if question.image.alt is not null %} {{ question.image.alt }}{% else %} Aucune description d'image{% endif %}" />
                {% endif %}
                </div>
            </div>
            
            {% for answer in question.answers %}
    			<div class="answer-wrap">
    				<div class="container-description">
    					<div>
                            <p>Réponse n°{{loop.index}} : {{ answer.entitled }}
                    
                                {% if answer.published %}
                                    <span>(publié)</span>
                                {% else %}
                                    <span>(non publié)</span>
                                {% endif %}
                            </p>
                            
                            {% if answer.correct %}
                                    <p>Cette réponse est VRAI</p>
                            {% else %}
                                    <p>Cette réponse est FAUSSE</p>
                            {% endif %}
                            
                            <p>Explication:
                                {% if answer.explanation is not null %}
                                    {{ answer.explanation }}
                                {% else %}
                                    Aucune explication
                                {% endif %}
                            </p>
                        </div>
                        <div>                    
                            {% if answer.image is not null %}
                            	<img  class ="answer-img" src="{{ asset(constant('PATH_IMAGE_ANSWER', constant) ~ answer.image.url) }}" alt="{% if answer.image.alt is not null %} {{ answer.image.alt }}{% else %} Aucune description d'image{% endif %}" />
                            {% endif %}
                        </div>
                     </div>
                 </div>
                
        	
            {% endfor %}
        </div>
        		
    {% endfor %}
    

{% endblock %}